nav {
	position: relative;
	z-index: 1000;
	height: 120px;
	> div {
		width: 300px;
		margin: 0 5px;
		display: inline-block;
		vertical-align: top;
		font-family: 'Skinny-Regular';
	}
	.links {
		float: left;
		a {
			margin: 0 5px;
			font-size: 30px;
		}
	}
	.title {
		float: right;
		width: 250px;
		h4 {
			margin: 0;
			font-size: 60px;
		}
		p {
			margin: 5px 0;
			font-size: 30px;
			float: left;
			
		}
		.icons {
			float: right;
			margin: 0 35px;
			span {
				display: inline-block;
				height: 30px;
				width: 30px;
				background: blue;
				cursor: pointer;
				background: url(../images/sprite.png) no-repeat;
			}
			.linkin {
				margin-left: 10px;
				background-position: -619px -344px;
			}
			.github {
				background-position: -651px -344px;
			}
		}
		
	}
}